.App {
    text-align: left;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.TableForm {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 40px;
}

table {
    border: 1px solid white;
    border-collapse: separate;
    border-spacing: 10px;
    width: 300px;
    margin-top: 20px;
}

td {
    border-bottom: 1px solid white; /* Линия снизу */
}

li a {
    color: white;
    text-decoration: none;
}

li:hover a {
    color: darkturquoise;
}

.pointRemove {
    list-style-type: none;
}
